/.gradle/
/.idea/
/core-schema/build/
/catalog-service/build/
/inventory-service/build/
/order-service/build/
/price-service/build/
/user-service/build/
/account-service/build/
/discovery-service/build/
/config-service/build/
/hystrix-dashboard-service/build/
/zipkin-service/build/